<section class="thirteen columns">
    <h1>Experiences</h1>
    <article>
        <header>
            <h1>Software Architect Consultant, Agile Coach, Devops Specialist, Trainer</h1>
			<span><address>CRIF spa</address></span>
            <span><address>Bologna, IT</address><time>2011 to Present</time></span>
        </header>
		<br/>
        <p>In CRIF, I deal with designing of complex software architectures, microservices, agile coaching, internal training, software selections and external software supplier management. I’m member of the Process Engineering Group and Corporate Product Architecture team. The projects I deal with, are part of the “CRIF Foundation Framework” and “CRIF Credit Bureau Infrastructure”</p>
    </article>
    <article>
        <header>
            <h1>Senior Software Architect & Business Integration Team coordinator</h1>
			<span><address>Bluarancio spa</address></span>
            <span><address>Bologna, IT</address><time>2006 to 2011</time></span>
        </header>
		<br/>
        <p>As coordinator of the “Software architectures and Integrations Services” I designed software architectures, integration modules, API and business process to orchestrate and monitor complex business services. Furthermore, I dealt with research and development and internal training about emerging software technologies.</p>
		<br/>
		<ul>
			<li>Specialist in software architectures and technology stacks such as SOA, Web Services, REST Services, Business Processes, Integration Services, BPEL</li>
			<li>Design and development of ETL processes with IBM Datastage</li>
			<li>Design and development of J2EE and .NET applications</li>
			<li>Design and development of J2EE Ajax-based web applications with ZK framework Direct RIA, Spring, JPA, EclipseLink / Hibernate / Toplink</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Senior Software Developer</h1>
			<span><address>Qubica AMF</address></span>
            <span><address>Bologna, IT</address><time>2005 to 2006</time></span>
        </header>
		<br/>
        <p>As senior software developer I was involved in the development of the payment modules of the Qubica Conqueror platform.</p>
		<br/>
		<ul>
			<li>C#</li>
			<li>TDD (Test Driven Development)</li>
			<li>XP (eXtreme Programming)</li>
			<li>Scrum</li>
			<li>Pair Programming</li>
		</ul>
    </article>
</section>