<section class="thirteen columns">
	<h1>Conferences participation</h1>
	<article>
		<header>
		</header>
		<p></p>
	</article>
	<article>
		<header>
			<h1>JAX London 2019</h1>
			<span><address>London, GB</address><time>2019</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Elasticon 2018</h1>
			<span><address>San Francisco, US</address><time>2018</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>JAX London 2015</h1>
			<span><address>London, GB</address><time>2015</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>QCon 2013</h1>
			<span><address>London, GB</address><time>2013</time></span>
		</header>
	</article>
	
	
    <h1>Training and certifications</h1>
	<article>
		<header>
			<h1>English4Business (English language course)</h1>
			<span><address>Bologna, IT</address><time>2011 to 2020</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>English4Business (Deutsch language course)</h1>
			<span><address>Bologna, IT</address><time>2021 to present</time></span>
		</header>
	</article>
	
	<article>
		<header>
			<h1>Cassandra core</h1>
			<span><address>Bologna, IT</address><time>2015</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Elasticsearch core</h1>
			<span><address>Milan, IT</address><time>2016</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Project management</h1>
			<span><address>Bologna, IT</address><time>2018</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Project management advanced</h1>
			<span><address>Bologna, IT</address><time>2020</time></span>
		</header>
	</article>	
	<article>
		<header>
			<h1>Time management</h1>
			<span><address>Bologna, IT</address><time>2013</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Scrum Master Certification Course - Scrum Alliance</h1>
			<span><address>Bologna, IT</address><time>2010</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Effective communication</h1>
			<span><address>Bologna, IT</address><time>2004</time></span>
		</header>
	</article>
</section>