<section class="thirteen columns">
    <h1>Career profile</h1>
    <article>
        <p>Experienced <strong>Software Architect Consultant</strong> with a demonstrated history of working in the information technology and services industry.</p>
		<p>Skilled in <strong>Microservices Architecture</strong>, Elastic stack, Spring Framework (Spring Boot + Spring Cloud) and JEE. Strong engineering professional focused in Big Data and search engines. </p>
		<p>Internal technology trainer, <strong>Java guru</strong>, and strong experience in <strong>software assessments and release management</strong>. </p>
		<p>Furthermore, I deal with improvements on <strong>CI/CD, devops and Java coding</strong>, to increase <strong>productivity</strong> and overall <strong>quality</strong>, and continuous integration processes.</p>
    </article>
</section>
