<section class="thirteen columns">
    <h1>Career profile</h1>
    <article>
        <p>Experienced software solutions with a demonstrated history of working in the information technology and services industry. Skilled in Microservices Architecture, Elastic stack, Spring Framework (Spring Boot + Spring Cloud) and JEE. Strong engineering professional focused in Big Data and search engines. Internal technology trainer, Java guru, and strong experience in software assessments and release management. Furthermore, I deal with improvements on CI/CD, devops and Java coding, to increase productivity and overall quality, and continuous integration processes.</p>
    </article>
</section>
