<section class="thirteen columns">
    <h1>Skills and proficiency</h1>
    <article>
		<!--
        <header>
            <h1>Software engineering & web development</h1>
        </header>
		-->
		<p>
            <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>		
			&nbsp;&nbsp;<em>System and software assessment</em>
		</p>
		<p>
		    <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			&nbsp;&nbsp;<em>Training</em>
		</p>
		<p>
            <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			&nbsp;&nbsp;<em>Agile Coaching / Scrum Master Coach</em>
		</p>
		<p>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>		
			&nbsp;&nbsp;<em>Technical documentation</em>
		</p>
		<p>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			&nbsp;&nbsp;<em>Microservice Architecture</em>
		</p>		
		<p>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			&nbsp;&nbsp;<em>API management</em>
		</p>
		<p>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			&nbsp;&nbsp;<em>Devops methodology</em>
		</p>
		<p>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>		
			&nbsp;&nbsp;<em>Spring Framework, Spring Boot, Spring Cloud</em>
		</p>
		<p>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			&nbsp;&nbsp;<em>Elasticsearch, Kibana, Logstash, Beat</em>
		</p>
		<p>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>		
			&nbsp;&nbsp;<em>RESTful & SOAP web services</em>
		</p>
		<p>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>		
			&nbsp;&nbsp;<em>Docker, Kubernetes, Redhat Openshift</em>
		</p>
        <p>
            <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Java, J2EE, Spring & Spring Boot, Groovy</em>
        </p>		
        <p>
            <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-half-o"></i>
			<i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Angular.io, HTML/CSS3</em> &amp; <em>Javascript</em>
        </p>
		<p>
            <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Git, Jenkins, Nexus, Sonarqube</em>
		</p>
    </article>
</section>